doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title VC
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Video Chat 
        main
            form#nick
                input(id="nickname" type="text" placeholder="닉네임")
                button() 입력
            ul
            form#message
                input(id="send" type="text" placeholder="메시지")
                button() 전송
            ul
        script(src="/public/js/main.js")